const CONFIG = {
  process: [
    {
      curl: `curl 'http://localhost' \
        -H 'accept: application/json, text/plain, */*' \
        --compressed`,
    },
  ],
};

module.exports = { CONFIG };
